.navbar-logo img {
    width: auto;
    height: 70px;
}

.navbar {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.navbar-buttons {
    margin-left: auto;
}

.modal-container {
    background-color: #585d6d90;
    border-radius: 15px;
    margin: 25px auto;
    width: 1500px;
    text-align: center;
}

.custom-link {
    color: #7C8399;
}

.custom-link:hover {
    color: #585D6D;
}