.modal-container {
    background-color: #585d6d90;
    border-radius: 15px;
    margin: 25px auto;
    width: 1500px;
    text-align: center;
}

.custom-link {
    color: #7C8399;
}

.custom-link:hover {
    color: #585D6D;
}