<nav class="navbar" style="background-color: #585D6D;">
    <div class="navbar-logo">
      <img src="assets\logo.png" alt="Logo" />
    </div>
    <div class="navbar-buttons">
        <a href="#" (click)="goToHome(); $event.preventDefault();" class="btn btn-light me-3">Home</a>
        <a href="#" (click)="goToMarketplace(); $event.preventDefault();" class="btn btn-light me-3">Marketplace</a>
        <a href="#" (click)="goToRealEstate(); $event.preventDefault();" class="btn btn-light me-3">Real Estate</a>
        <a href="#" (click)="goToVehicles(); $event.preventDefault();" class="btn btn-light me-3">Vehicles</a>
        <a href="#" (click)="goToProfil(); $event.preventDefault();" class="btn btn-light me-3">Profil</a>
        <a href="#" (click)="goToWelcome(); $event.preventDefault();" class="btn btn-light me-4">Logout</a>
    </div>
  </nav>
