<app-navbar></app-navbar>
<app-alert></app-alert>
<div class="modal-container w-50">
    <h1 class="pb-2 pt-4 border-bottom text-white">Chat Overview</h1>
    <div class="padding-container">
    <div class="chat-container">
        <div *ngFor="let message of messages" [ngClass]="{'message-sender': message.sender === chatUser , 'message-recipient': message.sender !== chatUser }">
            <div class="message-text">{{ message.text }}</div>
            <div class="message-time">{{ message.time | date:'shortTime' }}</div>
        </div>
    </div>
    <div class="input-container">
        <input type="text" [(ngModel)]="newMessage" placeholder="Type your message..." class="form-control" />
        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-light mt-3" (click)="sendMessage()">Send</button>
    </div>
</div>
</div>