<nav class="navbar" style="background-color: #585D6D;">
    <div class="navbar-logo">
      <img src="assets\logo.png" alt="Logo" />
    </div>
    <div class="navbar-buttons">
        <a href="#" (click)="goToLogin(); $event.preventDefault();" class="btn btn-light me-3">Login</a>
        <a href="#" (click)="goToRegister(); $event.preventDefault();" class="btn btn-light me-4">Register</a>
    </div>
  </nav>

<div class="container modal-container py-5 px-5" id="featured-3">
    <h1 class="pb-2 border-bottom text-white">Welcome to MarketMingle</h1>
    <div class="row mt-5 row-cols-1 row-cols-md-2">
      <div class="feature col">
        <div class="bg-white rounded-3 py-3 px-3" style="height: 300px;">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                <img src="assets/company.png" alt="Feature Icon" class="img-fluid" style="max-width: 100px; max-height: 100px;">
            </div>
            <h3 class="fs-4 text-body-emphasis">About Us</h3>
            <p>Welcome to Market Mingle, your trusted online marketplace for buying and selling items with ease. We aim to connect buyers and sellers in a safe, user-friendly environment. Whether you're looking for something specific or want to declutter, Market Mingle makes it simple to find and share great deals.</p>
        </div>
      </div>
      <div class="feature col">
        <div class="bg-white rounded-3 py-3 px-3" style="height: 300px;">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                <img src="assets/payment.png" alt="Feature Icon" class="img-fluid" style="max-width: 100px; max-height: 100px;">
            </div>
            <h3 class="fs-4 text-body-emphasis">Secure Payment & Delivery</h3>
            <p>Your security is our priority. At Market Mingle, we offer secure payment methods to ensure safe transactions. We also partner with reliable delivery services to guarantee that your purchases arrive safely and on time. We ensure a smooth experience from checkout to delivery. Enjoy peace of mind with every order.</p>
        </div>
      </div>
    </div>
    <div class="row mt-4 row-cols-1 row-cols-md-2">
        <div class="feature col">
          <div class="bg-white rounded-3 py-3 px-3" style="height: 300px;">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                <img src="assets/buy-sell.png" alt="Feature Icon" class="img-fluid" style="max-width: 100px; max-height: 100px;">
            </div>
              <h3 class="fs-4 text-body-emphasis">Buy Items</h3>
              <p>Finding great deals is easy on Market Mingle. Browse through our extensive categories to discover new or used items that suit your needs. Whether it's furniture, electronics, or fashion, our platform offers a wide range of options, all at competitive prices.</p>
          </div>
        </div>
        <div class="feature col">
          <div class="bg-white rounded-3 py-3 px-3" style="height: 300px;">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                <img src="assets/buy-sell.png" alt="Feature Icon" class="img-fluid" style="max-width: 100px; max-height: 100px;">
            </div>
              <h3 class="fs-4 text-body-emphasis">Sell Items</h3>
              <p>Turn your unused items into cash by selling on Market Mingle. Our platform allows you to quickly list your products with detailed descriptions and photos. Reach a wide audience and find a buyer fast. Selling has never been this easy!</p>
          </div>
        </div>
      </div>
      <div class="row mt-4 row-cols-1 row-cols-md-2">
        <div class="feature col">
          <div class="bg-white rounded-3 py-3 px-3" style="height: 300px;">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                <img src="assets/support.png" alt="Feature Icon" class="img-fluid" style="max-width: 100px; height: 100px;">
            </div>
              <h3 class="fs-34 text-body-emphasis">Customer Support</h3>
              <p>Need assistance? Our friendly customer support team is here to help. Whether you have a question about buying, selling, or any other issue, we’re just a message away. Your satisfaction is important to us, and we’ll work hard to provide the help you need.</p>
          </div>
        </div>
        <div class="feature col">
          <div class="bg-white rounded-3 py-3 px-3" style="height: 300px;">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                <img src="assets/faq.png" alt="Feature Icon" class="img-fluid" style="max-width: 100px; height: 100px;">
            </div>
              <h3 class="fs-4 text-body-emphasis">FAQ</h3>
              <p>Got questions? Our FAQ section provides answers to common inquiries about using Market Mingle. Whether you need help with account setup, payments, or shipping, you’ll find all the information you need to get started. Or simply contact us!</p>
          </div>
        </div>
      </div>
</div>
