<body class="text-center">
    <app-navbar></app-navbar>
    <app-alert></app-alert>
    <div class="modal-container">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <br />
      <main role="main" class="inner cover">
        <h1 class="pb-2 border-bottom text-white">Marketplace</h1>
        <p class="lead text-white">Search our marketplace and find new items today!</p>
      </main>
      <div class="inner d-flex justify-content-center align-items-center mt-3">
        <div class="col-md-2">
          <input type="text" class="form-control me-3" id="searchInput" placeholder="Search" [(ngModel)]="searchTerm" aria-label="Search" (input)="searchData()" />
        </div>
        <button type="button" class="btn btn-outline-light my-3 my-sm-0 ms-2" (click)="navigateToAddPage()">Add New</button>
      </div>
      <br />
      <div class="inner d-flex justify-content-center align-items-center">
        <select #condition class="btn btn-outline-light me-1">
          <option value="" selected disabled hidden>filter a condition</option>
          <option value="Brandnew">Brand New</option>
          <option value="Slightly Used">Slightly Used</option>
          <option value="Used">Used</option>
          <option value="Very Used">Very Used</option>
          <option value="Extremely Used">Extremely Used</option>
          <option value="">Remove Filter</option>
        </select>
        <select #handover class="btn btn-outline-light mr-sm-2">
          <option value="" selected disabled hidden>Filter a handover</option>
          <option value="Self Pickup">Self Pickup</option>
          <option value="Delivery">Delivery</option>
          <option value="">Remove Filter</option>
        </select>
        <button class="btn btn-light me-1 ms-1" (click)="filterData(condition.value, handover.value)">Filter</button>
        <button class="btn btn-light" (click)="resetData()">Reset</button>
      </div>
    </div>
    <div *ngIf="data">
      <div class="py-5 px-5">
        <div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
            <div *ngFor="let item of data" class="col mb-1 hover-effect" (click)="navigateToDetailPage(item.id)">
              <div class="card shadow-sm align-items-center" style="height: 325px;">
                <img class="card-img-top mt-4 border" src="assets/buy-sell.png" style="width: 200px; height: 175px;" />
                <div class="card-body d-flex flex-column">
                  <h4>{{item.title}} - {{item.price}} €</h4>
                  <p class="card-text">{{item.address}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!data">
        No items found for the selcted filter settings!
    </div>
</div>
  </body>