<nav class="navbar" style="background-color: #585D6D;">
    <div class="navbar-logo">
      <img src="assets\logo.png" alt="Logo" />
    </div>
    <div class="navbar-buttons">
      <a href="#" (click)="goToLogin(); $event.preventDefault();" class="btn btn-light me-3">Login</a>
      <a href="#" (click)="goToRegister(); $event.preventDefault();" class="btn btn-light me-4">Register</a>
    </div>
  </nav>

<div class="modal-container">
  <br/>
  <h1 class="pb-2 border-bottom text-white">Sign into your account</h1>
    
  <div class="modal modal-sheet position-static d-block p-4 py-md-4" tabindex="-1" role="dialog" id="modalSignin">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2 text-center">Login</h1>
          </div>
    
          <div class="modal-body p-5 pt-0">
            <form (ngSubmit)="login()">
              <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-3" id="userInput" placeholder="name@example.com" [(ngModel)]="user" name="user" required>
                <label for="userInput">Username or E-Mail</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-3" id="passInput" placeholder="Password" [(ngModel)]="pass" name="pass" required>
                <label for="passInput">Password</label>
              </div>
              <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" style="background-color: #7C8399; color: white; border: none;" type="submit">Sign in</button>
              <small class="text-body-secondary">{{ message }}</small>
              <hr class="mt-4 mb-2">
              <small class="text-body-secondary">If you dont have an account yet, pls register by clicking <a href="#" (click)="goToRegister(); $event.preventDefault();" class="custom-link">here</a>.</small>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
