.modal-container {
    background-color: #585d6d90;
    border-radius: 15px;
    margin: 25px auto;
    width: 1500px;
    text-align: center;
}

.hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.transpar {
    color:#424242;
}

.search-field {
    width: 335px;
}

.price-field {
    width: 100px;
}